@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   /* ## Colors */
   --Moderateblue: hsl(238, 40%, 52%);
   --SoftRed: hsl(358, 79%, 66%);
   --Lightgrayishblue: hsl(239, 57%, 85%);
   --Palered: hsl(357, 100%, 86%);
   --Darkblue: hsl(212, 24%, 26%);
   --GrayishBlue: hsl(211, 10%, 45%);
   --Lightgray: hsl(223, 19%, 93%);
   --Verylightgray: hsl(228, 33%, 97%);
   --White: hsl(0, 0%, 100%);
}
body {
   background-color: var(--Verylightgray);
   font-size: 16px;
   font-family: "Rubik", sans-serif;
   display: flex;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   position: relative;
}
main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
button {
   font: inherit;
}
.comments {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 20px;
   margin-top: 30px;
}
.container,
.addComment,
.replied {
   width: 700px;
   background-color: var(--White);
   display: flex;
   gap: 20px;
   padding: 20px;
   border-radius: 10px;
}
.commentInfo {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.commentHeader {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.commentDetails {
   display: flex;
   align-items: center;
   gap: 20px;
}
.commentDetails img,
.addComment img {
   width: 40px;
}
article {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.voting {
   width: 60px;
   height: 110px;
   background-color: var(--Verylightgray);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.voting button {
   border: 0;
   outline: 0;
   background-color: transparent;
}
.voting p,
.repliedUser {
   color: var(--Moderateblue);
   font-weight: 700;
}
.comment,
.time {
   color: var(--GrayishBlue);
}
.comment {
   margin-top: 10px;
   line-height: 1.5;
}
.reply,
.edit,
.delete {
   border: 0;
   outline: 0;
   background: transparent;
   display: flex;
   gap: 10px;
   font-size: 16px;
   color: var(--Moderateblue);
   font-weight: 700;
   align-items: center;
}
:is(.reply, .edit, .delete, .send, .replyBtn, .update):hover {
   opacity: 0.5;
}
.youText {
   background-color: var(--Moderateblue);
   color: var(--White);
   display: inline-block;
   margin-left: 5px;
   font-size: 13px;
   padding-left: 3px;
   width: 30px;
   font-weight: 500;
   height: 17px;
}
.modify {
   display: flex;
   gap: 30px;
}
.replied {
   width: 600px;
   align-self: flex-end;
}
.addComment {
   align-items: flex-start;
   justify-content: center;
   margin-bottom: 30px;
}
textarea {
   border-color: var(--Lightgray);
   resize: none;
   border-radius: 5px;
   padding: 10px;
   padding-left: 20px;
   outline: 0;
   font: inherit;
   font-weight: 500;
   color: var(--Darkblue);
}
textarea:focus {
   border: 2px solid var(--GrayishBlue);
}
.send,
.replyBtn {
   background-color: var(--Moderateblue);
   border: 0;
   padding: 0.7rem;
   border-radius: 8px;
   width: 90px;
   color: var(--White);
   font-weight: 500;
   font-size: 14px;
}
.deleteBox {
   width: 350px;
   height: 220px;
   background-color: var(--White);
   border-radius: 10px;
   margin-bottom: 30px;
   padding: 20px;
   position: absolute;
   z-index: 99;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}
.deleteBox h1 {
   color: var(--Darkblue);
   font-size: 1.2rem;
   margin-bottom: 15px;
}
.deleteBox p {
   color: var(--GrayishBlue);
   line-height: 1.5;
   margin-bottom: 15px;
   font-size: 15px;
}
.confirmationBtns {
   display: flex;
   gap: 15px;
}
.deleteBox button {
   width: 150px;
   padding: 0.8rem;
   border-radius: 8px;
   color: var(--White);
   border: 0;
   font-weight: 500;
}
.yes {
   background-color: var(--SoftRed);
}
.no {
   background-color: var(--GrayishBlue);
}
.update {
   background-color: var(--Moderateblue);
   border: 0;
   color: var(--White);
   border-radius: 5px;
   padding: 0.7rem;
   font-weight: 500;
   width: 100px;
   align-self: flex-end;
   margin-top: 10px;
   display: none;
}
